# Ignore Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/
.env.bak/
.venv/

# VS Code settings
.vscode/

# macOS/Linux
.DS_Store
Thumbs.db

# Jupyter and IPython
.ipynb_checkpoints/
*.ipynb

# Logs and temp files
*.log
*.tmp

# Test/cache stuff
.pytest_cache/
.cache/
.coverage

# Python packaging
build/
dist/
*.egg-info/
.venv/